<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listings</title>
  </head>
  <body>
    <h1>Listings</h1>
    <br />
    <div class="Card">
        <form action="/listings/<%= list.id %>/edit" method="get"><Button>Update</Button></form>
        <br>
        <form action="/listings/<%= list.id %>/?_method=Delete" method="post" ><Button>Delete</Button></form>
      <h2><%= list.title %></h2>
      <img
        src="<%= list.image %>"
        alt="<%= list.title %>"
        width="200"
        height="200"
      />
      <p><%= list.description %></p>
      <p><%= list.price.toLocaleString("en-IN") %></p>
      <p><%= list.location %> , <%= list.country %></p>
    </div>
  </body>
</html>
